/*! Sberbank UI - BetterDiscord Addon v1.0.2 */

.visual-refresh .bd-store-card {
    background: var(--hsl-card-shading);
    border: 1px solid transparent;
}
.visual-refresh .bd-store-card:hover {
    background: var(--hsl-card-shading);
    box-shadow: none;
    border-color: var(--hsl-main-color);
}
.visual-refresh .bd-addon-store-card {
    background: var(--hsl-card-shading);
    border: 1px solid transparent;
}
.visual-refresh .bd-addon-store-card:hover {
    background: var(--hsl-card-shading);
    box-shadow: none;
    border-color: var(--hsl-main-color);
}
.visual-refresh .bd-addon-store-card .bd-addon-store-card-tag {
    background: transparent;
    border: 1px solid var(--hsl-main-color);
}
.visual-refresh .bd-addon-card {
    background: var(--hsl-card-shading);
    border: 2px solid transparent;
}
.visual-refresh .bd-addon-card:hover {
    background: var(--hsl-card-shading);
    border-color: var(--hsl-main-color);
}
.visual-refresh .bd-addon-header { background: var(--hsl-card-shading); }
.visual-refresh .bd-notification { background: var(--hsl-card-shading); }
.visual-refresh .bd-notification-footer { background: transparent; }
.visual-refresh .bd-modal-root {
    background: var(--hsl-card-shading);
    border: 2px solid var(--hsl-main-color);
}
.visual-refresh .bd-modal-footer { background: transparent; }
.visual-refresh .bd-button-filled.bd-button-color-primary {
    border-radius: 8px;
    background: var(--hsl-main-color);
    border-color: transparent;
}
.visual-refresh .bd-button-filled.bd-button-color-primary:hover,
.visual-refresh .bd-button-filled.bd-button-color-primary:active {
    background: var(--hsl-hover-color);
    border-color: transparent;
}
.visual-refresh .bd-addon-error-icon { background: var(--hsl-main-color); }
.visual-refresh .bd-addon-error { border: 1px solid var(--hsl-main-color); }
